<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <typeAliases>
    <!-- Business Rules Interfaces-->
    <typeAlias
      alias="ICoreBusinessRules"
      type="Tcc.Core.BusinessRulesInterfaces.ICoreBusinessRules, Tcc.Core.BusinessRulesInterfaces" />

    <!-- Business Rules-->
    <typeAlias
     alias="CoreBusinessRules"
     type="Tcc.Core.BusinessRules.CoreBusinessRules, Tcc.Core.BusinessRules" />


    <!-- Providers-->
    <typeAlias
      alias="CoreProviderBase"
      type="Tcc.Core.Providers.CoreProviderBase, Tcc.Core.Providers" />


  </typeAliases>
  <container>
    <register type="ICoreBusinessRules" mapTo="CoreBusinessRules">
      <property name="CoreProvider" dependencyType="CoreProviderBase" />
    </register>
  </container>
</unity>
