<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HttpIntegrationServiceEndPoint" />
                <binding name="HttpIntegrationServiceEndPoint1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kelvin-notebook:8089/AuthService/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="HttpIntegrationServiceEndPoint"
                contract="AuthService.AuthService" name="HttpIntegrationServiceEndPoint" />
            <endpoint address="http://kelvin-notebook:8089/IntegrationService/IntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="HttpIntegrationServiceEndPoint1"
                contract="IntegrationService.IntegrationService" name="HttpIntegrationServiceEndPoint1" />
        </client>
    </system.serviceModel>
</configuration>